.sizelobo{
  height: 50px;;
}
.size{
    height: 50px;
    background-color: aliceblue;
}
.body{
    background-color: black;
}.watching{
    color: white;
    text-align: center;
}.size{
    height: 190px;
    width: 190px;
}.midimg{
    display: flex;
    flex-direction: row;
    justify-content: center;
}.imglobo{
    display: flex;
}
.button {
    border: none;
    color: rgb(21, 11, 11);
    padding: 16px 32px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: rgb(6, 4, 4); 
    color: black; 
    border: 2px solid #050705;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }