.sizelobo{
  height: 50px;;
}
.size{
    height: 50px;
    background-color: aliceblue;
}
.body{
    background-color: black;
}.watching{
    color: white;
    text-align: center;
}.size{
    height: 190px;
    width: 190px;
}.midimg{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.button {
    text-align: center;
  }
  .button1 {
    background-color: rgb(6, 4, 4); 
    color: rgba(232, 241, 231, 0.628); 
  }
  
  .button1:hover {
    color: white;
  }
  .text{
    border: 2px;
  }
  .mid-section{

  }
  #textplace{
    color: #ecf2ed;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }