*{
  padding: 0;
  margin: 0;
}
.body{
  background-color: #141414;
  height: 700px;
}
.sizelobo{
  height: 50px;;
}
.size{
    height: 50px;
    background-color: aliceblue;
}
.body{
    background-color: black;
}.watching{
    color: white;
    text-align: center;
}.size{
    height: 190px;
    width: 190px;
}.midimg{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    height: 400px;
    align-items: center;
    justify-content: space-evenly;
}
  .button:hover {
    color: rgb(219, 209, 209);
  }
  .text{
    border: 2px;
  }
  .mid-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #textplace{
    color: #ecf2ed;
    text-align: center;
    padding: 15px;
    font-size: 20px;
  }
  .button{
    text-align: center;
    background-color: #141414;
    color: #DCDCDC;
    padding: 15px;
    border: solid 2px #dbdada;
    font-size: 16px;
  }